/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

/* ESTILO DO CORPO DO SITE */
body {
    background-color: cadetblue;
    height: 100vp;
}

h1 {
    margin-top: 20px;
    color: white;
    font-size: 110px;
    text-align: center;
}

.listwork {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px 5px;
    border-radius: 3px;
}

i {
    color: blue;
    font-size: 23px;
    background-color: white;
    border: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
}

.text-input {
    width: 720px
}

.text-input{
    height: 30px;
    border-radius: 5px;
}

.list-tarefas{
    margin-right: 36px;
    display: flex;
    color: black;
    flex-direction: column;
    text-align: center;
    border: 5px 5px;
    border-radius: 5px;
    background-color: white;
}

.list-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px 5px;
}

.input-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.text-input {
    width: 720px;
    margin-right: 10px; 
}

.list-tarefas {
    color: black;
    flex-direction: column;
    width: 720px; 
    list-style-type: none; 
    padding: 0; 
}

.apagar{
    display: flex;
    color: rgb(183, 39, 39);
}

.editar{
    display: flex;
    color: rgb(183, 39, 39);
}

.concluir{
    display: flex;
    color: rgb(183, 39, 39);
}

.list-tarefas :hover{
    background-color: beige;
}

p{
    text-align: center;
    opacity: 0.4;
}

footer{
    margin-top: 100px;
}